$scale: 1.3;

.root {
	$dimension: 100px;
	
	width: $dimension;
	height: $dimension;
	border: 18px dashed white;
	border-radius: 14px;
}

.dragging {
	animation: dragging 1s infinite ease-in-out;
	
	@keyframes dragging {
		50% {
			transform: scale($scale) rotate(1turn);
		}
		
		50.01% {
			transform: scale($scale);
		}
	}
}
