@use 'transitions';

.root {
	display: flex;
	align-items: center;
	
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.icon,
.action {
	@include transitions.lower-on-active;
}

.icon {
	$dimension: 50px;
	
	flex-shrink: 0;
	width: $dimension;
	height: $dimension;
	background-size: contain;
	border-radius: 8px;
	transition: opacity 0.3s, transform 0.3s;
	
	&:hover {
		opacity: 0.8;
	}
}

.noImage {
	background: transparentize(white, 0.9);
}

.name {
	flex-grow: 1;
	margin-left: 12px;
}

.nameInput {
	width: 100%;
	padding: 6px 10px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	background: none;
	border-radius: 5px;
	outline: none;
	transition: background 0.3s;
	
	&::placeholder {
		color: tranpsarentize(white, 0.5);
	}
	
	&:hover,
	&:focus {
		background: transparentize(white, 0.9);
	}
}

.action {
	$dimension: 40px;
	
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: $dimension;
	height: $dimension;
	margin-left: 12px;
	color: white;
	border-radius: 8px;
	outline: none;
	transition: color 0.3s, background 0.3s, transform 0.3s;
	
	@media (max-width: 400px) {
		display: none;
	}
}

.copyUrlButton {
	background: #42c374;
	
	&:hover,
	&:focus {
		color: #42c374;
		background: white;
	}
}

.downloadButton {
	background: #4355f9;
	
	&:hover,
	&:focus {
		color: #4355f9;
		background: white;
	}
}

.deleteButton {
	background: #e53e3e;
	
	&:hover,
	&:focus {
		color: #e53e3e;
		background: white;
	}
}
