@use 'transitions';

.root {
	display: flex;
	flex-direction: column;
}

.search {
	margin-bottom: 30px;
}

.noFilesMessage {
	@include transitions.lower-on-active;
	
	margin: auto;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	font-weight: 900;
	color: white;
	transition: transform 0.3s;
	
	&:hover,
	&:focus {
		text-decoration: underline;
	}
}
