.root {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding-top: 104px;
	overflow-y: auto;
	background: linear-gradient(to bottom, #a548e2, #5893eb);
}

.navbar {
	z-index: 1;
}

.content {
	flex-grow: 1;
	margin: 30px;
	padding: 30px;
	background: #051e34;
	border-radius: 15px;
}

.title {
	margin-bottom: 30px;
	font-weight: 900;
	color: white;
}
