@use 'react-toastify/dist/ReactToastify';

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Muli, Arial, Helvetica, sans-serif;
	border: none;
}

body {
	overflow: hidden;
}

.Toastify__toast {
	font-weight: bold;
	padding-left: 16px;
	border-radius: 5px;
}
