rules_version = '2'

service firebase.storage {
	match /b/{bucket}/o {
		match /files/{file} {
			allow read
			allow create: if request.resource.size <= 10 * 1024 * 1024 * 1024 // 10 GB limit
		}
	}
}
