@use 'sizes';
@use 'colors';

.root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.header {
	display: flex;
	max-width: sizes.$large-max-width;
	width: 95%;
	max-height: 700px;
	height: calc(100vh - 225px);
	margin: 120px auto 0;
	padding: 16px;
	background: colors.$dark;
	border-radius: 8px;
}

.preview {
	margin-right: 16px;
}

.main {
	flex-shrink: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	min-width: 400px;
}

.info {
	flex-shrink: 0;
	display: flex;
	justify-content: space-between;
}

.meta {
	flex-grow: 1;
	color: white;
}

.name,
.editName {
	max-width: 550px;
}

.name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 28px;
	font-weight: 900;
}

.editName {
	font-size: 26px;
}

.user {
	margin-top: 8px;
	font-size: 17px;
	opacity: 0.7;
}

.userLink {
	display: inline-flex;
	align-items: center;
	text-decoration: none;
	color: white;
	
	&:hover {
		> .userName {
			text-decoration: underline;
		}
		
		> .userIcon {
			transform: translateX(4px);
		}
	}
}

.userName {
	display: inline-block;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	font-weight: 900;
}

.userIcon {
	margin-left: 6px;
	transition: transform 0.3s;
}

.options {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: 16px;
}

.actions {
	display: flex;
}

.action {
	$dimension: 40px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	width: $dimension;
	height: $dimension;
	font-size: 16px;
	color: white;
	background: var(--color);
	border-radius: 8px;
	transition: color 0.3s, background 0.3s, transform 0.3s;
	
	& + & {
		margin-left: 12px;
	}
	
	&:hover {
		color: var(--color);
		background: white;
	}
	
	&:active {
		transform: translateY(-2px);
	}
}

.download { --color: #{colors.$purple}; }
.copy { --color: #{colors.$green}; }
.delete { --color: #{colors.$red}; }

.accessToggle {
	margin-top: 8px;
}

.comments {
	flex-grow: 1;
	margin-top: 16px;
}

.footer {
	margin-top: 30px;
}
