@use 'colors';

.root {
	display: flex;
	position: relative;
	max-width: max-content;
	height: 100%;
	overflow: hidden;
	color: white;
	background: transparentize(white, 0.9);
	border-radius: 8px;
	
	&:hover > .shareContainer {
		background: transparentize(colors.$dark, 0.5);
		opacity: 0.5;
	}
}

.fallback,
.other {
	min-width: 300px !important;
}

.image,
.other {
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: background 0.3s;
	}
	
	&:hover {
		&::after {
			background: transparentize(colors.$dark, 0.5);
		}
		
		> .shareContainer {
			background: transparent;
			opacity: 1;
		}
	}
}

.imageElement {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}

.videoElement {
	width: 100%;
	height: 100%;
}

.audio {
	position: relative;
	max-width: none;
	width: 400px;
	
	> .icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.audioElement {
	width: 100%;
	margin: auto 16px 16px;
}

.pdf {
	min-width: 400px;
}

.document {
	width: 100%;
	height: 100%;
	overflow: auto;
}

.icon {
	margin: auto;
	font-size: 60px !important;
}

.shareContainer {
	$dimension: 40px;
	$offset: 8px;
	
	display: flex;
	position: absolute;
	width: $dimension;
	height: $dimension;
	top: $offset;
	right: $offset;
	font-size: 20px;
	background: transparentize(colors.$dark, 0.5);
	border-radius: 50%;
	z-index: 1;
	transition: background 0.3s, opacity 0.3s;
}

.share {
	margin: auto;
	transform: translate(1px, -1px);
}
