@use 'sizes';

.root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.header {
	max-width: sizes.$large-max-width;
	width: 95%;
	margin: 150px auto 0;
	color: white;
}

.footer {
	margin-top: 30px;
}
