@use 'colors';

.root {
	display: flex;
	position: relative;
	max-width: max-content;
	height: 100%;
	overflow: hidden;
	color: white;
	background: transparentize(white, 0.9);
	border-radius: 8px;
	
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transition: background 0.3s;
	}
	
	&:hover {
		&::after {
			background: transparentize(colors.$dark, 0.5);
		}
		
		> .share {
			opacity: 1;
			transform: none;
		}
	}
}

.hasIcon {
	max-width: none;
	width: 250px;
}

.image {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}

.icon {
	margin: auto;
	font-size: 60px;
}

.share {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 20px;
	opacity: 0;
	transform: translateY(-20px);
	z-index: 1;
	transition: opacity 0.3s, transform 0.3s;
}
