@use 'sizes';
@use 'colors';

.root {
	padding: 20px 0;
	background: colors.$dark;
}

.content {
	display: flex;
	align-items: center;
	max-width: sizes.$large-max-width;
	width: 95%;
	margin: 0 auto;
}

.copyright {
	display: none;
	margin-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
	
	@media (min-width: 475px) {
		display: block;
	}
}

.slack {
	display: flex;
	margin-left: auto;
}
