.root {
	display: flex;
	align-items: center;
	margin-right: 20px;
	text-decoration: none;
	font-weight: 900;
	color: white;
	transition: opacity 0.3s, transform 0.3s;
	
	&:hover {
		opacity: 0.7;
	}
	
	&:active {
		transform: translateY(-2px);
	}
}

.icon {
	margin-right: 8px;
	font-size: 2em;
}
