@use '~@fortawesome/fontawesome-svg-core/styles';
@use '~react-toastify/dist/ReactToastify';

@use 'colors';

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial, Helvetica, sans-serif;
	border: none;
}

body {
	overscroll-behavior: none;
	background: colors.$light;
}

.Toastify__toast {
	font-weight: bold;
	padding-left: 16px;
	border-radius: 5px;
	
	&--dark {
		background: colors.$dark;
	}
}
