@use 'sizes';
@use 'colors';

.root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.header {
	max-width: sizes.$large-max-width;
	width: 95%;
	margin: 150px auto 0;
	color: white;
}

.title {
	line-height: 56px;
	font-size: 50px;
	font-weight: 900;
}

.subtitle {
	margin-top: 12px;
	line-height: 30px;
	font-size: 24px;
	font-weight: 900;
}

.recentlyUploadedFiles {
	margin: 60px auto 0;
}

.footer {
	margin-top: 30px;
}
