@use 'sizes';
@use 'colors';

.root {
	--color: white;
	--background-hover: #{transparentize(white, 0.8)};
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: background 0.3s, border-bottom 0.3s;
}

.active {
	--color: #{colors.$blue};
	--background-hover: #{transparentize(colors.$dark, 0.9)};
	
	background: white;
	border-bottom: 1px solid #eee;
}

.content {
	display: flex;
	align-items: center;
	max-width: sizes.$large-max-width;
	width: 95%;
	height: sizes.$navbar-height;
	margin: 0 auto;
}

.home {
	margin-right: auto;
	text-decoration: none;
	font-size: 30px;
	font-weight: 900;
	color: var(--color);
	transition: color 0.3s, transform 0.3s;
	
	&:hover {
		text-decoration: underline;
	}
	
	&:active {
		transform: translateY(-2px);
	}
}

.upload,
.auth {
	$margin: 16px;
	
	align-self: stretch;
	margin: $margin 0 $margin $margin;
}

.upload {
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-size: 20px;
	color: var(--color);
	background: transparent;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s, transform 0.3s;
	
	&:hover {
		background: var(--background-hover);
	}
	
	&:active {
		transform: translateY(-2px);
	}
}

.uploadMessage {
	margin-left: 8px;
	font-size: 16px;
	font-weight: 900;
}

.auth {
	min-width: 115px;
}
