@use 'sizes';
@use 'colors';

.root {
	--color: white;
	--color-inverted: #{colors.$blue};
	--background-hover: #{transparentize(white, 0.8)};
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid transparent;
	z-index: 100;
	transition: background 0.3s, border-bottom-color 0.3s;
}

.active {
	--color: #{colors.$blue};
	--color-inverted: white;
	--background-hover: #{transparentize(colors.$dark, 0.9)};
	
	background: white;
	border-bottom-color: #eee;
}

.content {
	display: flex;
	align-items: center;
	max-width: sizes.$large-max-width;
	width: 95%;
	height: sizes.$navbar-height;
	margin: 0 auto;
}

.home {
	display: flex;
	align-items: center;
	margin-right: auto;
	padding: 6px 12px;
	text-decoration: none;
	color: var(--color);
	border-radius: 8px;
	transition: color 0.3s, background 0.3s, transform 0.3s;
	
	:global(.icon-background),
	:global(.icon-foreground) {
		transition: fill 0.3s;
	}
	
	:global(.icon-background) { fill: var(--color); }
	:global(.icon-foreground) { fill: var(--color-inverted); }
	
	&:hover {
		color: var(--color-inverted);
		background: var(--color);
		
		:global(.icon-background) { fill: var(--color-inverted); }
		:global(.icon-foreground) { fill: var(--color); }
	}
	
	&:active {
		transform: translateY(-2px);
	}
}

.homeIcon {
	display: none;
	height: 30px;
	margin-right: 10px;
	
	@media (min-width: 350px) {
		display: block;
	}
}

.homeMessage {
	font-size: 30px;
	font-weight: 900;
}

.upload,
.auth {
	align-self: stretch;
	margin: 16px 0;
}

.upload {
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-size: 20px;
	color: var(--color);
	background: transparent;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s, transform 0.3s;
	
	&:hover {
		background: var(--background-hover);
	}
	
	&:active {
		transform: translateY(-2px);
	}
}

.uploadMessage {
	display: none;
	margin-left: 8px;
	font-size: 16px;
	font-weight: 900;
	
	@media (min-width: 500px) {
		display: block;
	}
}

.auth {
	min-width: 115px;
	margin-left: 8px;
	
	@media (min-width: 500px) {
		margin-left: 16px;
	}
}
