@use '~react-pdf/dist/esm/Page/AnnotationLayer';

@use 'spinner' as *;

.loading > :global(.react-pdf__message--loading) {
	display: flex;
	width: 100%;
	height: 100%;
}

.spinner {
	@include spinner(30px, 4px, white);
	
	margin: auto;
}

.page {
	width: 100%;
	
	& + & {
		margin-top: 8px;
	}
}
