@use 'colors';
@use 'spinner' as *;

.label {
	font-weight: 900;
	color: white;
	opacity: 0.7;
}

.files {
	margin-top: 4px;
	background: colors.$dark;
	border-radius: 8px;
}

.file {
	& + & {
		
	}
}

.spinner {
	@include spinner(40px, 6px, white);
}
