@use 'sizes';
@use 'colors';

.root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.header {
	display: grid;
	grid:
		'icon title' auto
		'_ subtitle' auto
		'_ install' auto /
		auto 1fr;
	max-width: sizes.$large-max-width;
	width: 95%;
	height: max-content;
	margin: 200px auto 0;
	color: white;
}

.titleIcon {
	grid-area: icon;
	align-self: center;
	margin-right: 16px;
	font-size: 65px;
}

.title {
	grid-area: title;
	align-self: center;
	line-height: 56px;
	font-size: 50px;
	font-weight: 900;
}

.subtitle {
	grid-area: subtitle;
	margin-top: 4px;
	line-height: 30px;
	font-size: 24px;
	font-weight: 900;
}

.install {
	grid-area: install;
	display: flex;
	max-width: max-content;
	margin-top: 20px;
	transition: opacity 0.3s, transform 0.3s;
	
	&:hover {
		opacity: 0.7;
	}
	
	&:active {
		transform: translateY(-2px);
	}
}

.footer {
	margin-top: 30px;
}
