@use 'sizes';
@use 'colors';

.root {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.header {
	max-width: sizes.$file-grid-columns * sizes.$file-cell-dimension + (sizes.$file-grid-columns - 1) * sizes.$file-grid-gap;
	margin: 200px auto 0;
}

.name {
	line-height: 56px;
	font-size: 50px;
	font-weight: 900;
	color: white;
}

.search {
	margin-top: 20px;
}

.files {
	margin: sizes.$file-grid-gap auto 0;
}

.footer {
	margin-top: 30px;
}
